div {
    border: 1px solid black;
    padding: 1em;
    position: fixed;
    top: 20px;
    width: 200px;
    height: 100px;
}

#capa1 {
    left: 50px;
}

#capa1 {
    width: 200px;
    height: 100px;
    margin-left: 250px;
    margin-top: 39px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}


#capa2 {
    width: 200px;
    height: 100px;
    margin: 40px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

#capa1 {
    background-color: yellow;
}

#capa2 {
    background-color: white;
}

#capa2.success {
    background-color: #ff0000;
    color: white;
}
