// Variables globales
$primary-color: #4CAF50 !default
$secondary-color: #333 !default
$hover-color: #45a049 !default
$background-color: #8fafaffb !default // Agregamos el color de fondo

// Lista de colores
$color-list: #3498db, #e74c3c, #2ecc71, #f39c12, #9b59b6

// Mapa de colores con nombres descriptivos
$colors-map: (primary: $background-color, secondary: $secondary-color,hover: $hover-color,list: $color-list,)

// Placeholder para estilos comunes
%common-styles
  color: #fff
  text-align: center
  padding: 1em

body, h1, h2, p
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: column
  min-height: 100vh
  margin: 0
  background-color: $background-color // Establecemos el color de fondo

header
  @extend %common-styles
  background-color: $secondary-color
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

footer
  @extend %common-styles
  background-color: $secondary-color
  margin-top: auto
  width: 100%
  box-sizing: border-box
  position: fixed
  bottom: 0

main
  flex: 1
  padding: calc(20px + 10px)
  box-sizing: border-box
  margin-top: 60px

section
  margin-bottom: 20px

.btn
  @extend %common-styles
  display: inline-block
  padding: 10px 20px
  font-size: calc(16px + 2px)
  text-align: center
  text-decoration: none
  background-color: #add8e6// Establecemos el color de fondo directamente
  border: none
  border-radius: 4px
  cursor: pointer
  transition: background-color 0.3s

  &:hover
    background-color: #4682b4 // Cambiamos el color de fondo al hacer hover

// Nuevo selector utilizando el placeholder
.common-element
  @extend %common-styles
  // Agrega estilos específicos para .common-element si es necesario

// Funciones sobre la lista de colores
$list-length: length($color-list)
$first-color: nth($color-list, 1)
$joined-colors: join($color-list, ', ')
$appended-colors: append($color-list, #34495e)

// Estilos específicos para el contenido antes del cuerpo
body::before,
header::before,
footer::before,
main::before
  display: block
  content: ""
  visibility: hidden

body::before
  content: "Número de colores en la lista: #{$list-length}"

header::before
  content: "Primer color en la lista: #{$first-color}"

footer::before
  content: "Colores unidos en una cadena: #{$joined-colors}"

main::before
  content: "Lista de colores después de añadir uno más: #{$appended-colors}"

// Función para obtener el color por nombre
@function get-color($name)
  @return map-get($colors-map, $name)

// Ejemplos de uso
body
  background-color: get-color(primary)